<div fxLayout="column">
  <div>
    <h2 mat-dialog-title>EDITAR USUARIO</h2>
    <mat-dialog-content>
      <form fxLayout="column" [formGroup]="usuarioForm">
        <mat-form-field>
          <input matInput placeholder="Nombre" [formControl]="usuarioForm.controls['name']">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Email" [formControl]="usuarioForm.controls['email']">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Contraseña" type="password" [formControl]="usuarioForm.controls['password']">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder=Teléfono type="number" [formControl]="usuarioForm.controls['phone']">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder=Notas [formControl]="usuarioForm.controls['notes']">
        </mat-form-field>
      </form>
    </mat-dialog-content>

    <mat-dialog-actions>
      <button mat-button mat-dialog-close>CANCELAR</button>
      <button mat-raised-button color="primary" [mat-dialog-close]="true" [disabled]="!usuarioForm.valid" (click)="editUsuario()">EDITAR</button>
    </mat-dialog-actions>
  </div>
</div>
