<div fxLayout="column">
  <div>
    <h2 mat-dialog-title>EDIT USER</h2>
    <mat-dialog-content>
      <form fxLayout="column" [formGroup]="userForm">
        <mat-form-field>
          <input matInput placeholder="Email" type="email" [formControl]="userForm.controls['email']">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" type="password" [formControl]="userForm.controls['password']">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Name" [formControl]="userForm.controls['name']">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder=Role type="number" [formControl]="userForm.controls['role']">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder=Picture [formControl]="userForm.controls['picture']">
        </mat-form-field>
      </form>
    </mat-dialog-content>

    <mat-dialog-actions>
      <button mat-button mat-dialog-close>CANCEL</button>
      <button mat-raised-button color="primary" [mat-dialog-close]="true" [disabled]="!userForm.valid"(click)="editUser()">EDIT</button>
    </mat-dialog-actions>
  </div>
</div>